name: GitHub Actions Context Dump

on:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * *"
  push:
    branches:
      - main
  issues:
    types:
      - opened
  label:
    types:
      - created

jobs:
  context-dump:
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub Context
        run: |
          echo "Dumping GitHub Context:"
          echo "${{ toJson(github) }}"

      - name: Dump GitHub Event Context
        run: echo "${{ toJson(github.event)}}"
